{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}


	<div class="item-container">
		{% if is_granted('ROLE_ADMIN') %}
			<div class="nav-btn">
				<button class="btn-submit">
					<a href="{{ path('app_reply_index') }}">Reply</a>
				</button>
				<button class="btn-submit">
					<a href="{{ path('app_dashboard') }}">dashboard</a>
				</button>
				<button class="btn-submit">
					<a href="{{ path('app_portals') }}">Portals</a>
				</button>
			</div>
		{% endif %}
		<div class="item-card">
			<a href="{{ path('app_almanax') }}">
				<h2>Almanax du jour</h2>
				<h3>{{ almanax.tribute.item.name }}
					x
					{{ almanax.tribute.quantity }}</h3>
				<img src="{{ almanax.tribute.item.image_urls.sd }}">
				<h3>{{ almanax.bonus.description }}</h3>
			</a>
		</div>
	</div>

	<div class="category-background">

		<h2 class="title">guides</h2>
		<div class="categories-home">


			{% for category in categories %}

				<div class="categories-card">
					<h3 class="title">{{ category.title }}</h3>

					<a href="{{ path('app_category_show', {'id': category.id}) }}">
						<img src="{{ asset('uploads/images/' ~ category.img) }}" width="500">
					</a>

				</div>
			{% endfor %}

		</div>
	</div>

	<div class="post-home">
		<div class="post-sort-background">
			<h2 class="title">postes</h2>
			<h3>trier par :</h3>
			<div class="sort-btn">
				<button class="btn-submit">Chronologique</button>
				<button class="btn-submit">Score de vote</button>
			</div>
		</div>

	</div>
	<button class="btn-submit">
		<a href="{{ path('app_post_new') }}">Creer un Post</a>
	</button>
	{% include 'post/index.html.twig' %}


{% endblock %}
