{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<div class="item-container">
		<div class="item-home-card">
			<h2>utilisateurs</h2>
			<div class="item-users-card">
				{% for user in users %}
					{% if user.img %}
						<a href="{{ path('app_user_show', {'id': user.id}) }}">
							<img src="{{ asset('uploads/images/' ~ user.img) }}" class="home-icon"></a>
					{% else %}
						<a href="{{ path('app_user_show', {'id': user.id}) }}">
							<img src="images\user_img.png" class="home-icon"></a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="item-home-card ">
			<a href="{{ path('app_portals') }}">
				<h2>Portails</h2>
				<div class="portal-background"></div>
			</a>
		</div>
		<div class="item-home-card">
			<a href="{{ path('app_almanax') }}">
				<h2>Almanax du jour</h2>
				<h3>{{ almanax.tribute.item.name }}
					x
					{{ almanax.tribute.quantity }}</h3>
				<img src="{{ almanax.tribute.item.image_urls.sd }}">
				<h3>{{ almanax.bonus.description }}</h3>
			</a>
		</div>
	</div>

	<div class="category-background">
		<h2 class="title" id="guides">guides</h2>
		<div class="categories-home">


			{% for category in categories %}

				<div class="categories-card">
					<h3 class="title">{{ category.title }}</h3>

					<a href="{{ path('app_category_show', {'id': category.id}) }}">
						<img src="{{ asset('uploads/images/' ~ category.img) }}" width="500">
					</a>

				</div>
			{% endfor %}

		</div>
	</div>

	<div class="post-home">
		<div class="post-sort-background">
			<h2 class="title" id="postes">postes</h2>
			<h3>trier par :</h3>
			<div class="sort-btn">
				<a href="{{ path('home', {sort: 'date'}) }}#postes" class="btn-submit{% if currentSort == 'date' %} active{% endif %}">
					Date
					<i class="fa-solid fa-calendar"></i>
				</a>
				<a href="{{ path('home', {sort: 'votes'}) }}#postes" class="btn-submit{% if currentSort == 'votes' %} active{% endif %}">
					Vote
					<i class="fa-solid fa-thumbs-up"></i>
				</a>
			</div>
		</div>

	</div>
	<button class="btn-submit">
		<a href="{{ path('app_post_new') }}">Creer un Post</a>
	</button>
	{% include 'post/index.html.twig' %}


{% endblock %}
