{% extends 'base.html.twig' %}


{% block title %}Portails
{% endblock %}

{% block body %}

	<h2>{{ serverName }}</h2>
	<div class="item-list">
		{% for detail in serverDetails %}
			<div class="item-card">
				<h3>{{ detail.dimension }}</h3>
				{% if detail.position is defined %}
					<h3>[{{ detail.position.x}},{{ detail.position.y}}]</h3>
				{% else %}
					<p>position inconnue</p>
				{% endif %}
				<div class="portal-details">
					<h3>Places:</h3>
					{% if detail.position is defined %}
						<p>{{ detail.remainingUses}}</p>
					{% else %}
						<p>inconnue</p>
					{% endif %}

					<h3>zone:</h3>
					{% if detail.position is defined %}
						<p>{{ detail.position.transport.subArea}}</p>
					</h3>
				{% else %}
					<p>inconnue</p>
				{% endif %}

				<img src="https://dofus-portals.fr/images/portals/{{ detail.dimension }}.webp" alt="portail de {{ detail.dimension }}">
			</div>
		</div>


	{% endfor %}
</div>


<a class="btn-submit" href="{{ path('app_portals') }}">Retour aux Serveurs</a>{% endblock %}
