{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section class="form-section">
		<h1 class="form-title">S'inscrire</h1>

		{{ form_start(registrationForm, {'attr': {'class': 'form-container'}}) }}


		{{ form_widget(registrationForm.email, {
                    'attr': { 'class': 'form-input', 'placeholder': 'Email', 'autocomplete': 'email' }
                }) }}


		{{ form_widget(registrationForm.userName, {
                    'attr': { 'class': 'form-input', 'placeholder': 'Pseudo', 'autocomplete': 'username' }
                }) }}
	</div>


	{{ form_widget(registrationForm.plainPassword, {
                    'attr': { 'class': 'form-input', 'placeholder': 'Mot De Passe', 'autocomplete': 'new-password' }
                }) }}


	<input type="hidden" name="_token" value="{{ csrf_token('registration') }}">

	<div class="inline">
		<button type="submit" class="btn-submit">S'inscrire</button>
		<a href="{{ path('app_login') }}">Connexion</a>
	</div>
	{{ form_end(registrationForm) }}
</section>{% endblock %}
