{% extends 'base.html.twig' %}

{% block title %}Edition de Réponse
{% endblock %}

{% block body %}
	<section class="edit-section">
		<h1 class="title">Modifier une Réponse</h1>

		<div class="edit-container">
			{{ form_start(form) }}

			{{ form_widget(form.text, {'attr': {'class': 'form-input text', 'placeholder': 'contenu'}}) }}


			{{ form_widget(form.image, {'attr': {'class': 'form-input file-upload'}}) }}


			<div class="inline">
				<button type="submit" class="btn-submit">Modifier</button>
				<a href="{{ path('home') }}" class="edit-cancel">Annuler</a>
			</div>
			{{ form_end(form) }}

		</div>
	</section>
{% endblock %}
