{% extends 'base.html.twig' %}

{% block title %}Almanax du Mois
{% endblock %}

{% block body %}
	<h1>Almanax du Mois de
		{{ "now"|date("F Y") }}</h1>
	<div class="almanax-list">

		<div class="almanax-card today">
			<h2>{{ almanaxData[0].date|date('l j F') }}</h2>
			<img src="{{ almanaxData[0].tribute.item.image_urls.sd }}" alt="{{ almanaxData[0].tribute.item.name }}">
			<h3>{{ almanaxData[0].tribute.item.name }}
				x
				{{ almanaxData[0].tribute.quantity }}</h3>
			<p>{{ almanaxData[0].bonus.description }}</p>
			<div class="rewards">
				<div class="inline">
					<span>{{ almanaxData[0].reward_kamas }}</span>
					<img src="{{ asset('images/Kamas.webp') }}">
				</div>
			</div>
		</div>

		{% for almanax in almanaxData|slice(1) %}


			<div class="almanax-card">
				<h3>{{ almanax.date|date('l j F') }}</h3>
				<img src="{{ almanax.tribute.item.image_urls.sd }}" alt="{{ almanax.tribute.item.name }}">
				<h3>{{ almanax.tribute.item.name }}
					x
					{{ almanax.tribute.quantity }}</h3>
				<p>{{ almanax.bonus.description }}</p>
				<div class="rewards">
					<div class="inline">
						<span>{{ almanax.reward_kamas }}</span>
						<img src="{{ asset('images/Kamas.webp') }}">
					</div>

				</div>

			</div>


		{% endfor %}


	</div>
{% endblock %}
