{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	<section class="edit-section">
		<h1 class="title">Modifier une categorie</h1>

		<div class="edit-container">
			{{ form_start(form) }}


			{{ form_widget(form.title, {'attr': {'class': 'form-input', 'placeholder': 'titre'}}) }}


			{{ form_widget(form.image, {'attr': {'class': 'form-input file-upload'}}) }}


			<div class="inline">
				<button type="submit" class="btn-submit">Modifier</button>
				<a href="{{ path('app_dashboard') }}" class="edit-cancel">Annuler</a>
			</div>
			{{ form_end(form) }}

		</div>
	</section>
{% endblock %}
