{% block body %}

	<button class="btn-submit">
		<a href="{{ path('app_category_new') }}">Créer une catégorie</a>
	</button>

	{% for category in categories %}
		<div class="table-admin-category">
			<div class="table-row">
				<p>{{ category.id }}</p>
				<p>{{ category.title }}</p>
				<div>
					<a href="{{ asset('uploads/images/' ~ category.img) }}" target="_blank">
						<img src="{{ asset('uploads/images/' ~ category.img) }}" alt="image de la catégorie {{ category.title }}">
					</a>
				</div>
				<p>{{ category.date ? category.date|date('d/m/Y') : '' }}</p>
				<div class="actions">
					<button class="btn-submit">
						<a href="{{ path('app_category_show', {'id': category.id}) }}">Afficher</a>
					</button>
					<button class="btn-submit">
						<a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
					</button>

					{% include 'category/_delete_form.html.twig' %}

				</div>
			</div>
		</div>
	{% else %}
		<p>Aucune catégorie disponible</p>
	{% endfor %}


{% endblock %}
