{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
	<h1>{{ category.title }}</h1>

	{% for guide in category.guides %}
		<div class="guide-list">
			<div class="guide-card">
				<h2>{{ guide.title }}</h2>
				<div class="guide-background">
					<a href="{{ path('app_guide_show', {'id': guide.id}) }}"><img src="{{ asset('uploads/images/' ~ guide.img) }}"></a>
				</div>
			</div>
		</div>

	{% endfor %}

	<div class="inline">
		<button class="btn-submit">
			<a href="{{ path('home') }}">accueil</a>
		</button>

		{% if is_granted('ROLE_ADMIN') %}

			<button class="btn-submit">
				<a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
			</button>
		{% endif %}
	</div>


{% endblock %}
