{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
	<h1>{{ category.title }}</h1>

	{% for guide in category.guides %}
		<div class="guide-list">
			<a href="{{ path('app_guide_show', {'id': guide.id}) }}">
				<div class="guide-card">
					<h2>{{ guide.title }}</h2>
					<div class="guide-background"><img src="{{ asset('uploads/images/' ~ guide.img) }}" alt="{{ guide.title}}"></div>
				</div>
			</a>
		</div>

	{% endfor %}

	<div class="inline">

		<a class="btn-submit" href="{{ path('home') }}">accueil</a>


		{% if is_granted('ROLE_ADMIN') %}


			<a class="btn-submit" href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>

		{% endif %}
	</div>


{% endblock %}
