<nav class="nav-bar">
	<div class="logo-wrapper">
		<a href="{{ path('home') }}"><img src="{{ asset('images/logo_zaapy.png') }}" alt="Logo"></a>
	</div>

	<div class="nav-login">
		{% if app.user %}
			{% if app.user.img %}
				<a href="{{ path('app_user_show', {'id': app.user.id}) }}">
					<img src="{{ asset('uploads/images/' ~ app.user.img) }}" class="icon">
				</a>
			{% else %}
				<button class="btn-submit">
					<a href="{{ path('app_user_show', {'id': app.user.id}) }}">{{ app.user.userName }}</a>
				</button>
			{% endif %}
		{% endif %}

		{% if not is_granted('ROLE_USER')%}
			<button class="btn-submit">
				<a href="{{ path('app_login') }}">Se connecter</a>
			</button>
		{% endif %}
	</div>
</nav>
