<nav class="nav-bar">
	<div class="nav-link">
		<a class="btn-submit" href="{{ path('home') }}#postes">Postes</a>
		<a class="btn-submit" href="{{ path('home') }}#guides">Guides</a>
		<a class="btn-submit" href="{{ path('home_rgpd') }}">RPGD</a>

	</div>

	<div class="logo-wrapper">
		<a href="{{ path('home') }}"><img src="{{ asset('images/logo_zaapy.png') }}" alt="Logo"></a>
	</div>

	<div class="nav-login">
		{% if is_granted('ROLE_ADMIN') %}

			<a class="btn-submit" href="{{ path('app_dashboard') }}">dashboard</a>

		{% endif %}
		{% if app.user %}
			{% if app.user.img %}
				<a href="{{ path('app_user_show', {'id': app.user.id}) }}">
					<img class="icon" src="{{ asset('uploads/images/' ~ app.user.img) }}" alt="image de profile de {{ app.user.userName }}">
				</a>
			{% else %}
				<a href="{{ path('app_user_show', {'id': app.user.id}) }}">
					<img class="icon" src="..\images\user_img.png" alt="image de profile de {{ app.user.userName }}"></a>
			{% endif %}
		{% endif %}

		{% if not is_granted('ROLE_USER')%}

			<a class="btn-submit" href="{{ path('app_login') }}">Se connecter</a>

		{% endif %}
	</div>
</nav>
