{% block body %}


	{% for post in posts %}
		<article class="post-container">

			<div class="post-head">

				<p>{{ post.voteScore }}</p>
				<h2 class="title">{{ post.title }}</h2>
				<div class="post-user">

					<a href="{{ path('app_user_show', {'id': post.user.id}) }}"><img src="{{ asset('uploads/images/' ~ post.user.img) }}"></a>
					<a href="{{ path('app_user_show', {'id': post.user.id}) }}">
						<p>{{ post.user.userName }}</p>
					</a>

				</div>


			</div>

			<div class="post-body">
				<img src="{{ asset('uploads/images/' ~ post.img) }}">
				<p>{{ post.text }}</p>
				<p>{{ post.date ? post.date|date("d-m-Y") : '' }}</p>
			</div>

		</article>


		{# <td>
															<a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
															<a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
														</td> #}

	{% endfor %}


{% endblock %}
