{% block body %}


	{# POST #}
	{% for post in posts %}
		<article class="post-container">
			<div class="post-head">
				<div class="post-vote">
					{% if is_granted('ROLE_USER') %}
						<button class="upvote btn-submit {% if post.getUserVote(app.user) == 1 %}active-up-vote{% endif %}" data-post-id="{{ post.id }}">
							▲
						</button>
						<p id="score-{{ post.id }}">{{ post.voteScore }}</p>
						<button class="downvote btn-submit {% if post.getUserVote(app.user) == -1 %}active-down-vote{% endif %}" data-post-id="{{ post.id }}">
							▼
						</button>
					{% else %}
						<a class="btn-submit" href="{{ path('app_login') }}">
							▲
						</a>
						<p id="score-{{ post.id }}">{{ post.voteScore }}</p>
						<a class="btn-submit" href="{{ path('app_login') }}">
							▼
						</a>
					{% endif %}
				</div>
				<h2 class="title">{{ post.title }}</h2>
				<div class="message-user">


					<a href="{{ path('app_user_show', {'id': post.user.id}) }}">
						<p>{{ post.user.userName }}</p>
					</a>
					
					{% if post.user.img %}
						<a href="{{ path('app_user_show', {'id': post.user.id}) }}"><img src="{{ asset('uploads/images/' ~ post.user.img) }}"></a>
					{% else %}
						<a href="{{ path('app_user_show', {'id': post.user.id}) }}">
							<img src="..\images\user_img.png" class="icon"></a>
					{% endif %}


				</div>
			</div>

			<div class="post-body">
				{% if post.img is not null %}
					<img src="{{ asset('uploads/images/' ~ post.img) }}">
				{% endif %}
				<p>{{ post.text }}</p>
			</div>


			<div class="post-date">
				<p>{{ post.date ? post.date|date("d-m-Y") : '' }}</p>
			</div>


			<div class="post-actions">

				<a class="btn-submit" href="{{ path('app_reply_new', {'id': post.id}) }}">reply</a>
				{% if is_granted('ROLE_ADMIN') or (app.user and app.user.id is same as(post.user.id)) %}
					<a class="btn-submit" href="{{ path('app_post_edit', {'id': post.id}) }}">
						edit</a>
					{{ include('post/_delete_form.html.twig') }}
				{% endif %}
			</div>

			{# REPLY #}
			{% if post.replies is not empty %}
				<article class="reply-container">
					<h2 class="title">Réponses</h2>


					{% for reply in post.replies %}
						<div class="message-user">
							<a href="{{ path('app_user_show', {'id': reply.user.id}) }}">
								<p>{{ reply.user.userName }}</p>
							</a>

							{% if reply.user.img %}
								<a href="{{ path('app_user_show', {'id': reply.user.id}) }}"><img src="{{ asset('uploads/images/' ~ reply.user.img) }}"></a>
							{% else %}
								<a href="{{ path('app_user_show', {'id': reply.user.id}) }}">
									<img src="..\images\user_img.png" class="icon"></a>
							{% endif %}


						</div>
						<div class="post-body">
							{% if reply.img is not null %}
								<img src="{{ asset('uploads/images/' ~ reply.img) }}">
							{% endif %}
							<p>{{ reply.text }}</p>
							{{ reply.date ? reply.date|date("d-m-Y") : '' }}
						</div>

						{# SI admin OU (connecté ET l'user est le proprio)  #}
						<div class="post-actions">
							{% if is_granted('ROLE_ADMIN') or (app.user and app.user.id is same as(reply.user.id)) %}
								<a class="btn-submit" href="{{ path('app_reply_edit', {'id': reply.id}) }}">
									edit</a>
								{{ include('reply/_delete_form.html.twig') }}
							{% endif %}
						</div>
					{% endfor %}
				</article>
			{% endif %}
		</article>


	{% endfor %}

	<script src="{{ asset('js/updateScore.js') }}"></script>
{% endblock %}
