{% extends 'base.html.twig' %}

{% block title %}Edit Guide
{% endblock %}

{% block body %}
	<section class="edit-section">
		<h1 class="title">Modifier un guide</h1>

		<div class="edit-container">
			{{ form_start(form) }}

			<div class="form-group">
				{{ form_widget(form.title, {'attr': {'class': 'form-input', 'placeholder': 'titre'}}) }}
			</div>

			<div class="form-group">
				{{ form_widget(form.text, {'attr': {'class': 'form-input-text', 'placeholder': 'contenu'}}) }}
			</div>

			<div class="form-group">
				{{ form_widget(form.image, {'attr': {'class': 'form-input file-upload'}}) }}
			</div>

			<div class="form-group">
				{{ form_widget(form.date, {'attr': {'class': 'form-input', 'placeholder': 'date'}}) }}
			</div>
			<div class="form-group">
				{{ form_widget(form.categories, {'attr': {'class': 'form-input', 'placeholder': 'categories'}}) }}
			</div>
			<div class="form-group">
				{{ form_widget(form.user, {'attr': {'class': 'form-input', 'placeholder': 'user'}}) }}
			</div>

			<button type="submit" class="btn-submit">Modifier</button>
			{{ form_end(form) }}

			<a href="{{ path('app_dashboard') }}" class="edit-cancel">Annuler</a>
		</div>
	</section>
{% endblock %}
