{% block body %}

	<a class="btn-submit" href="{{ path('app_guide_new') }}">Creer un Guide</a>


	{% for guide in guides %}

		<div class="table-admin-guide">
			<div class="table-row">
				<p>{{ guide.id }}</p>
				<p>{{ guide.title }}</p>
				<p>{{ guide.text }}</p>
				<div>
					<a href="{{ asset('uploads/images/' ~ guide.img) }}" target="_blank">
						<img src="{{ asset('uploads/images/' ~ guide.img) }}" alt="image du guide {{ guide.title }}">
					</a>
				</div>
				<p>{{ guide.date ? guide.date|date('d/m/Y') : '' }}</p>
				<div class="actions">

					<a class="btn-submit" href="{{ path('app_guide_show', {'id': guide.id}) }}">Afficher</a>


					<a class="btn-submit" href="{{ path('app_guide_edit', {'id': guide.id}) }}">Modifier</a>


					{% include 'guide/_delete_form.html.twig' %}
				</div>
			</div>
		</div>


	{% else %}

		<p>aucun guide disponible</p>

	{% endfor %}


{% endblock %}
