{% extends 'base.html.twig' %}

{% block title %}Guide index{% endblock %}

{% block body %}
    <h1>Guide index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Img</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guide in guides %}
            <tr>
                <td>{{ guide.id }}</td>
                <td>{{ guide.title }}</td>
                <td>{{ guide.text }}</td>
                <td>{{ guide.img }}</td>
                <td>{{ guide.date ? guide.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_guide_show', {'id': guide.id}) }}">show</a>
                    <a href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn-submit">
        <a href="{{ path('app_guide_new') }}">Create new</a>
    </button>
{% endblock %}
