{% block body %}
	<button class="btn-submit">
		<a href="{{ path('app_guide_new') }}">Creer un Guide</a>
	</button>

	{% for guide in guides %}

		<div class="table-admin-guide">
			<div class="table-header">
				<p>ID</p>
				<p>Titre</p>
				<p>Texte</p>
				<p>Image</p>
				<p>Date</p>
				<p>Actions</p>
			</div>

			<div class="table-row">
				<p>{{ guide.id }}</p>
				<p>{{ guide.title }}</p>
				<p>{{ guide.text }}</p>
				<div>
					<img src="{{ asset('uploads/images/' ~ guide.img) }}" alt="image du guide {{ guide.title }}">
				</div>
				<p>{{ guide.date ? guide.date|date('d/m/Y') : '' }}</p>
				<div class="actions">
					<button class="btn-submit">
						<a href="{{ path('app_guide_show', {'id': guide.id}) }}">Afficher</a>
					</button>
					<button class="btn-submit">
						<a href="{{ path('app_guide_edit', {'id': guide.id}) }}">Modifier</a>
					</button>

					{% include 'guide/_delete_form.html.twig' %}
				</div>
			</div>
		</div>


	{% else %}

		<p>aucun guide disponible</p>

	{% endfor %}


{% endblock %}
