{% extends 'base.html.twig' %}

{% block title %}New Guide
{% endblock %}

{% block body %}
	<section class="edit-section">
		<h1 class="title">creer un guide</h1>

		<div class="edit-container">
			{{ form_start(form) }}


			{{ form_widget(form.title, {'attr': {'class': 'form-input', 'placeholder': 'titre'}}) }}


			{{ form_widget(form.text, {'attr': {'class': 'form-input text', 'placeholder': 'contenu'}}) }}


			{{ form_widget(form.image, {'attr': {'class': 'form-input file-upload'}}) }}


			{{ form_widget(form.categories, {'attr': {'class': 'form-input', 'placeholder': 'categories'}}) }}

			<div class="inline">

				<button type="submit" class="btn-submit">creer</button>
				<a href="{{ path('app_dashboard') }}" class="edit-cancel">Annuler</a>
			</div>
			{{ form_end(form) }}

		</div>
	</section>
{% endblock %}
