{% extends 'base.html.twig' %}

{% block title %}Guide
{% endblock %}

{% block body %}


	<div class="guide-index">
		<h1>{{ guide.title }}</h1>


		<img src="{{ asset('uploads/images/' ~ guide.img) }}" alt="{{ guide.title }}">

		<p>{{ guide.text }}</p>


		<p>{{ guide.date ? guide.date|date('Y-m-d') : '' }}</p>

	</div>

	<div class="inline">

		<a class="btn-submit" href="{{ path('home') }}">accueil</a>


		{% if is_granted('ROLE_ADMIN') %}

			<a class="btn-submit" href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>

		{% endif %}
	</div>


{% endblock %}
