{% extends 'base.html.twig' %}

{% block title %}Guide{% endblock %}

{% block body %}
    <h1>Guide</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guide.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ guide.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ guide.text }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ guide.img }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ guide.date ? guide.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_guide_index') }}">back to list</a>

    <a href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>

    {{ include('guide/_delete_form.html.twig') }}
{% endblock %}
