{% extends 'base.html.twig' %}

{% block title %}Guide
{% endblock %}

{% block body %}


	<div class="guide-index">
		<h1>{{ guide.title }}</h1>


		<img src="{{ asset('uploads/images/' ~ guide.img) }}">

		<p>{{ guide.text }}</p>


		<td>{{ guide.date ? guide.date|date('Y-m-d') : '' }}</td>

	</div>

	<div class="inline">
		<button class="btn-submit">
			<a href="{{ path('home') }}">accueil</a>
		</button>

		{% if is_granted('ROLE_ADMIN') %}
			<button class="btn-submit">
				<a href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>
			</button>
		{% endif %}
	</div>


{% endblock %}
