{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block body %}
<section class="edit-section">
	<h1 class="title">Modifier mon profil</h1>

	<div class="edit-container">
		{{ form_start(form) }}


		{{ form_widget(form.userName, {'attr': {'class': 'form-input', 'placeholder': 'Nom d\'utilisateur'}}) }}
           

            
        {{ form_widget(form.email, {'attr': {'class': 'form-input', 'placeholder': 'Email'}}) }}
           

            
        {{ form_widget(form.bio, {'attr': {'class': 'form-input text', 'placeholder': 'Votre bio'}}) }}
           

            
        {{ form_widget(form.image, {'attr': {'class': 'form-input file-upload'}}) }}
           

            <div class="inline">
                <button type="submit" class="btn-submit">Modifier</button>
                <a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="edit-cancel">Annuler</a>
            </div>
            {{ form_end(form) }}

        
    </section>
{% endblock %}
