{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>{{ user.userName }}</h1>


	{% if app.user %}
		{% if app.user.img %}
			<a href="{{ path('app_user_show', {'id': app.user.id}) }}">
				<img src="{{ asset('uploads/images/' ~ app.user.img) }}" class="icon">
			</a>
		{% else %}
			<button class="btn-submit">


				<a href="{{ path('app_user_edit', {'id': app.user.id}) }}">"AJOUTE UNE IMAGE"</a>

			</button>
		{% endif %}
	{% endif %}

	<p>{{ user.email }}</p>
	<p>{{ user.bio }}</p>


{% endblock %}
